@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f8f9;
  color: #171717;
  margin: 0;
  padding: 0;
}
.customClass {
  position: absolute !important;
  left: 9rem !important;
  margin-top: 6px;
  width: 25px;
}
